#clockcontainer{
    background-image: url(clock.png);
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    margin: auto;
    position: relative;
    
}

#hour,#min,#sec{
    background-color: rgb(12, 12, 16);
    position: absolute;
    transform-origin: bottom;
}
#hour{
    height: 20%;
    width: 3%;
    top: 28.5%;
    left: 50%;
}
#min{
    height: 27%;
    width: 2%;
    top: 22.5%;
    left: 50%;
}
#sec{
    height: 33%;
    width: 1%;
    top: 17%;
    left: 49.5%;
}